@-webkit-keyframes typing {
    from { width: 0 }
    to { width:12em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:12em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

h1 {font-family: Consolas, monospace;
    
    width:13em;
    white-space:nowrap;
    overflow:hidden;
    color:black;
    border-right: .1em solid black;

    -webkit-animation: typing 5s steps(21, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 5s steps(21, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

button{
  margin-top:10px;
}

li{
  width:300px;
}
